/* BEGIN min width 1200px max width 1920 */
@media (min-width: 1200px) and (max-width: 1920px) {

}
/* END min width 1025px max width 1205 */

/* BEGIN max width 1200px */
@media (max-width: 1200px) {

}
/* END max width 1200px */

/* BEGIN min width 1025px */
@media (min-width: 1025px) {

}
/* END min width 1025px */

/* BEGIN min width 1025px max width 1205 */
@media (min-width: 1025px) and (max-width: 1205px) {

}
/* END min width 1025px max width 1205 */

/* BEGIN max width 1024px */
@media (max-width: 1024px) {

}
/* END max width 1024px */

/* BEGIN max width 992px */
@media (min-width: 992px)  and (max-width: 1200px) {

}
/* END max width 992px */

/* BEGIN max width 992px */
@media (max-width: 992px) {
    .content-body .main-wrapper-content .table > thead > tr > th:nth-child(3),
    .content-body .main-wrapper-content .table > thead > tr > th:nth-child(5),
    .content-body .main-wrapper-content .table > tbody > tr > td:nth-child(3),
    .content-body .main-wrapper-content .table > tbody > tr > td:nth-child(5) {
        display: none;
    }
}
/* END max width 992px */

/* BEGIN max width 837px */
@media (min-width: 767px)  and (max-width: 837px) {

}
/* END max width 837px */

/* BEGIN max width 767px */
@media (max-width: 767px) {
    .sidebar {
        display: none;
        z-index: 2000;
        width: 40px;
    }
    .page-main {
        margin: 0;
    }
    .sidebar .copyright {
        display: none;
    }
    nav .navbar-top-button {
        float: left;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    nav .navbar-top-links {
        float: right;
        margin-right: -15px !important;
    }
    .mini-navbar .sidebar {
        display: block;
        width: 40px;
    }
    .mini-navbar .page-main {
        margin: 0 0 0 40px;
    }
    .mini-navbar .sidebar .nav > li > a {
        padding: 12px 12px 12px 12px;
    }
    .mini-navbar .sidebar .nav .nav-header {
        min-height: 55px;
        padding: 17px 9px;
    }
    .mini-navbar .metismenu li.active .nav-second-level {
        left: 36px;
    }
    ul.navbar-top-links li.profile-settings > .dropdown-menu {
        right: 0;
        left: auto;
        min-width: 193px;
    }
}
/* END max width 767px */

/* BEGIN max width 600px */
@media (max-width: 600px) {
    .content-body .main-wrapper-content .table > thead > tr > th:nth-child(4),
    .content-body .main-wrapper-content .table > thead > tr > th:nth-child(6),
    .content-body .main-wrapper-content .table > tbody > tr > td:nth-child(4),
    .content-body .main-wrapper-content .table > tbody > tr > td:nth-child(6) {
        display: none;
    }
}
/* END max width 600px */

/* BEGIN max width 480px */
@media (max-width: 480px) {
    ul.navbar-top-links li.profile-settings .name {
        display: none;
    }
    .nav-submit .nav-pull-right {
        position: inherit;
        top: inherit;
        right: inherit;
        padding-bottom: 8px;
        text-align: right;
    }
    .nav-submit .nav-pull-right i {
        display: none;
    }
    .nav-submit .nav-pull-right span.btn-label {
        display: block;
    }
    .nav-submit .mw-title-navigation i {
        display: block;
    }
    .nav-submit .mw-title-navigation span.btn-label-visible {
        display: none;
    }
    .nav-submit .mw-title-navigation .btn-submit > i  {
        position: inherit;
        top: inherit;
        left: inherit;
    }
    .nav-submit .mw-title-navigation {
        position: absolute;
        top: -7px;
        right: 0;
        z-index: 100;
        padding-bottom: 0;
        text-align: inherit;
    }
}
/* END max width 480px */

/* BEGIN max width 450px */
@media (max-width: 450px) {

}
/* END max width 450px */

/* BEGIN max width 405px */
@media (max-width: 405px) {

}
/* END max width 405px */

/* BEGIN max width 390px */
@media (max-width: 390px) {
    ul.navbar-top-links li > a {
      padding: 16px 15px;
    }
    ul.navbar-top-links li.profile-settings > a {
      padding: 11px 10px;
    }
    ul.navbar-top-links li.profile-settings .avatar {
      margin-right: 3px;
    }
    .content-body .main-wrapper-content .table .btn {
        border-bottom-left-radius: 3px !important;
        border-top-left-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        border-top-right-radius: 3px !important;
    }
    .content-body .main-wrapper-content .nav.nav-tabs > li > a {
        padding: 10px 10px;
    }
}
/* END max width 390px */

/* BEGIN max width 350px */
@media (max-width: 350px) {

}
/* END max width 330px */

/* BEGIN max width 330px */
@media (max-width: 330px) {

}
/* END max width 330px */

/* BEGIN max width 320px */
@media (max-width: 320px) {

}
/* END max width 320px */
