/* BEGIN min width 1200px max width 1920 */
@media (min-width: 1200px) and (max-width: 1920px) {

}
/* END min width 1025px max width 1205 */

/* BEGIN max width 1200px */
@media (max-width: 1200px) {

}
/* END max width 1200px */

/* BEGIN min width 1025px */
@media (min-width: 1025px) {

}
/* END min width 1025px */

/* BEGIN min width 1025px max width 1205 */
@media (min-width: 1025px) and (max-width: 1205px) {

}
/* END min width 1025px max width 1205 */

/* BEGIN max width 1024px */
@media (max-width: 1024px) {

}
/* END max width 1024px */

/* BEGIN max width 992px */
@media (min-width: 992px)  and (max-width: 1200px) {

}
/* END max width 992px */

/* BEGIN max width 992px */
@media (max-width: 992px) {

}
/* END max width 992px */

/* BEGIN max width 837px */
@media (min-width: 767px)  and (max-width: 837px) {

}
/* END max width 837px */

/* BEGIN max width 767px */
@media (max-width: 767px) {
    .sidebar {
        display: none;
        z-index: 2001;
        position: absolute;
        width: 70px;
    }
    .page-main {
        margin: 0;
    }
}
/* END max width 767px */

/* BEGIN max width 600px */
@media (max-width: 600px) {

}
/* END max width 600px */

/* BEGIN max width 480px */
@media (max-width: 480px) {

}
/* END max width 480px */

/* BEGIN max width 450px */
@media (max-width: 450px) {

}
/* END max width 450px */

/* BEGIN max width 405px */
@media (max-width: 405px) {

}
/* END max width 405px */

/* BEGIN max width 390px */
@media (max-width: 390px) {

}
/* END max width 390px */

/* BEGIN max width 350px */
@media (max-width: 350px) {

}
/* END max width 330px */

/* BEGIN max width 330px */
@media (max-width: 330px) {

}
/* END max width 330px */

/* BEGIN max width 320px */
@media (max-width: 320px) {

}
/* END max width 320px */