@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
* {
  margin: 0;
  padding: 0;
}
body {
    font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    font-size: 14px;
    line-height: 1.6;
    color: #666;
    background-color: #f3f3f4;
}
h1 {
    font-family: inherit;
    font-size: 32px;
    margin:10px 0 5px 0;
    padding: 0;
    line-height: 1.1;
    color: #666;
}
h2 {
    font-family: inherit;
    font-size: 32px;
    margin: 0 0 15px 0;
    padding: 0;
    line-height: 1.1;
    color: #666;
}
h5 {
    font-family: inherit;
    font-size: 14px;
    margin: 0 0 15px 0;
    padding: 0;
    line-height: 1.1;
    font-weight: 700;
    color: #666;
}
h1.underlined {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.btn-warning  {
    background-color: #f8ac59;
    border-color: #f8ac59;
}
.btn-warning.active,
.btn-warning:active,
.btn-warning:hover,
.open>.btn-warning.dropdown-toggle,
.btn-warning.focus,
.btn-warning:focus,
.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open>.btn-warning.dropdown-toggle.focus,
.open>.btn-warning.dropdown-toggle:focus,
.open>.btn-warning.dropdown-toggle:hover {
    color: #fff;
    background-color: #F86A1C;
    border-color: #F86A1C;
}
.label-primary, .badge-primary {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-warning, .badge-warning {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-danger, .badge-danger {
    background-color: #ed5565;
    color: #FFFFFF;
}
.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 220px;
    min-height: 1px;
    padding: 0;
    /*overflow-x: hidden;
    overflow-y: auto;*/
    color: #DFE4ED;
    background-color: #233646;
    transition: all 0.3s;
}
.mini-navbar .sidebar {
    width: 70px;
}
.sidebar .nav .nav-header {
    min-height: 155px;
    padding: 30px 25px;
    background: #2f4050 url('../images/patterns/header-profile.png') top center;
}
.nav-header .sidebar-logo-element {
    display: none;
}
.mini-navbar .sidebar .nav .nav-header {
    min-height: 55px;
    padding: 17px 20px 16px 23px;
}
.mini-navbar .nav-header .sidebar-profile-info {
    display: none;
}
.mini-navbar .nav-header .sidebar-logo-element {
    display: block;
}
.nav-header img {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.nav-header .admin-name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.2;
    color: #DFE4ED;
}
.nav-header .admin-position {
    font-size: 12px;
    line-height: 1;
    color: #8095a8;
}
.sidebar .nav li a {
    padding: 14px 20px 14px 25px;
    color: #a7b1c2;
    font-weight: 600;
    line-height: 1.42857;
    background-color: #293f50;
}
.sidebar .nav li a i {
    margin-right: 6px;
}
.mini-navbar .sidebar .nav li a i {
    margin-right: 0;
}
.sidebar .nav li a:hover {
    background-color: #293846;
    color: #fff;
}
.metismenu .collapse {
    display: none;
}
.metismenu > li {
    border-bottom: 1px solid #263848;
}
.metismenu li.active {
    border-left: 4px solid #1ab394;
    transition: all 0.3s;
}
.metismenu li.active a {
    background-color: #293846;
}
.metismenu .nav-second-level {
    background-color: #293846;
}
.metismenu .nav-second-level > li > a {
    font-size: 13px;
    padding: 8px 20px 8px 51px;
}
.metismenu .nav-second-level > li:last-child > a {
    padding-bottom: 20px;
}
.sidebar .copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 14px 20px 14px 25px;
    color: #a7b1c2;
    font-weight: 700;
    background-color: #203140;
}
.mini-navbar .sidebar .copyright {
    padding: 16px 10px 12px 10px;
}
.sidebar .copyright .company-name {
    font-weight: 500;
}
.mini-navbar .sidebar .copyright .company-name {
    display: none;
}
.mini-navbar .sidebar .nav > li > a .nav-label {
    display: none;
}
.mini-navbar .sidebar .nav > li > a .fa.arrow {
    display: none;
}
.mini-navbar .metismenu li .nav-second-level {
    height: 0;
}
.mini-navbar .metismenu li.active .nav-second-level {
    position: absolute;
    top: -1px;
    left: 65px;
    z-index: 100;
}
.mini-navbar .metismenu li.active .nav-second-level > li > a {
    padding-left: 20px;
}
.mini-navbar .metismenu li.active .nav-second-level > li:first-child > a {
    padding-top: 20px;
}
.page-main {
    position: relative;
    min-height: 1px;
    margin: 0 0 0 220px;
    padding: 0 15px 20px 15px;
    transition: all 0.3s;
}
.mini-navbar .page-main {
    margin: 0 0 0 70px;
}
nav.theme-default {
    min-height: 53px;
    margin-bottom: 0;
    background-color: #f3f3f4;
    border: 0 solid transparent;
    border-bottom: 1px solid #e7eaec;
}
nav .navbar-header .minimize_btn {
    margin-top: 11px;
    padding: 3px 12px;
    color: #fff;
    background-color: #1ab394;
    border-color: #1ab394;
}
ul.navbar-top-links > li {
    display: inline-block;
    float: left;
    border-left: 1px solid #e7eaec;
}
ul.navbar-top-links > li > a {
    position: relative;
    padding: 16px 20px;
    color: #999c9e;
    font-weight: 700;
}
ul.navbar-top-links > li > a:hover,
ul.navbar-top-links > li > a:focus {
    background-color: #eaeaea;
}
ul.navbar-top-links li.profile-settings > a {
    padding: 11px 15px;
}
ul.navbar-top-links li.profile-settings .avatar {
    width: 32px;
    height: 32px;
    margin-right: 7px;
    border-radius: 1000px;
}
ul.navbar-top-links li.profile-settings .name {
    color: #999c9e;
    padding-right: 3px;
}
ul.navbar-top-links li.profile-settings > .dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 216px;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .07);
}
li.messages .label {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .3em .4em .3em .4em;
    line-height: 1;
    border-radius: .75em;
}
li.notifications .label {
    position: absolute;
    top: 10px;
    right: 13px;
    padding: .3em .4em .3em .4em;
    line-height: 1;
    border-radius: .75em;
}
li.profile-settings > .dropdown-menu > li > a {
    padding: 10px 20px;
}
.main-header-block {
    margin: 0;
    padding: 10px 15px 18px 15px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.main-header-block .breadcrumbs {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-header-block .breadcrumbs li {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2;
    color: #999;
}
.main-header-block .breadcrumbs li::before {
    content: "/";
    padding: 0 10px;
}
.main-header-block .breadcrumbs li:first-child::before {
    content: "";
    padding: 0;
}
.control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 9px;
}
.nav-submit {
    position: relative;
    width: 100%;
    margin: 0;
}
.nav-submit .nav-pull-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
.nav-submit .mw-title-navigation {
    top: -9px;
}
.nav-submit .mw-title-navigation .btn-submit > i  {
    position: absolute;
    top: 9px;
    left: 10px;
}
.nav-submit .nav-pull-right .btn-submit {
    position: relative;
    color: #fff;
    background-color: #1ab394;
    border-color: #1ab394;
}
.nav-submit .nav-pull-right span.btn-label {
    display: none;
}
.nav-submit .nav-pull-right span.btn-label-visible {
    display: block;
    padding-left: 18px;
    line-height: 1.42857;
}
.content-body {
    min-height: 200px;
    margin-top: 20px;
    padding: 15px 15px 20px 15px;
    background-color: #fff;
    border: 1px solid #eee;
    border-top: 3px solid #e5e5e5;
}
.content-body .main-wrapper-title {
    padding: 0 15px;
    border-bottom: 1px solid #e5e5e5;
}
.content-body .main-wrapper-content .table {
    font-size: 12px;
}
.content-body .main-wrapper-content .table > thead > tr > th:last-child,
.content-body .main-wrapper-content .table > tbody > tr > td:last-child {
    text-align: right;
}
.content-body .main-wrapper-content .table > thead > tr > th > span {
    padding-left: 3px;
}
.content-body .main-wrapper-content nav > .pagination {
    margin: 0;
}
.content-body .main-wrapper-content nav > .pagination > li > a,
.content-body .main-wrapper-content nav > .pagination > li > span {
    color: #666;
    font-size: 11px;
    line-height: 1.3;
}
.content-body .tab-form-content {
    padding-top: 20px;
}
.content-body .tab-form-content .required label:before {
    content: "* ";
    color: #ff3300;
    font-weight: bold;
}
.tab-form-content .product-image {
    position: relative;
    width: 120px;
    height: 110px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.tab-form-content .product-image img {
    position: absolute;
    max-width: 120px;
    max-height: 110px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.tab-form-content .input-product-image {
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
    border: 0 solid #ddd;
    border-bottom: 3px solid #1ab394;
}
